@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common styles */
.text-primary {
    color: #FD6E0A;
}


/* Nav Styles */
nav {
    display: flex;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    font-family: 'Open Sans', sans-serif;
}